package views

import "github.com/justintout/osrs/woodcutting"
import "github.com/justintout/osrs/hiscores"
import "fmt"

templ Index(trees []woodcutting.Tree, actions []woodcutting.Action, player *hiscores.Player) {
	@layout("Woodcutting Calculator") {
		<h1>Woodcutting Calculator</h1>

		<form hx-get="/lookup" hx-target="#lookup-results" hx-swap="innerHTML">
			<label for="username">Username:</label>
			<input type="text" id="username" name="username"/>
			<button type="submit">Lookup</button>
		</form>
		<div id="lookup-results">
			if player != nil {
				@PlayerInfo(player)
			}
		</div>

		<form hx-get="/calculate" hx-target="#results" hx-swap="innerHTML">
			<label for="startLevel">Start Level:</label>
			<input type="number" id="startLevel" name="startLevel" value="1"/>
			<label for="targetLevel">Target Level:</label>
			<input type="number" id="targetLevel" name="targetLevel" value="99"/>

			<h2>Disabled Trees</h2>
			for _, tree := range trees {
				<div>
					<input type="checkbox" id={ tree.Name } name="disabledTrees" value={ tree.Name }/>
					<label for={ tree.Name }>{ tree.Name }</label>
				</div>
			}

			<button type="submit">Calculate</button>
		</form>
		<div id="results">
			if actions != nil {
				@Results(actions)
			}
		</div>
	}
}

templ PlayerInfo(player *hiscores.Player) {
	if woodcuttingSkill, ok := player.Skills["Woodcutting"]; ok {
		<p>
			Current Woodcutting Level: { fmt.Sprintf("%d", woodcuttingSkill.Level) }
			<br/>
			Current Woodcutting XP: { fmt.Sprintf("%d", woodcuttingSkill.XP) }
		</p>
	}
}